body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1328px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 20;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-pagination {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  background-color: #191928;
  opacity: 0.5;
  border-radius: 0%;
}
.swiper-pagination-bullet-active {
  width: 24px;
  background-color: #2244CC;
  opacity: 1;
}
.swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next {
  display: none;
}

.swiper span.material-symbols-outlined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  top: 178px;
  right: -22px;
  width: 44px;
  height: 44px;
  color: #353545;
  background-color: #FFFFFF;
}

.social {
  padding-top: 56px;
  padding-bottom: 80px;
  height: 818px;
}
.social__header {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #19191E;
  margin-bottom: 16px;
}
.social__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4F;
  margin-bottom: 32px;
}
.social__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 522px;
}
.social__tabs > li .tablink {
  padding: 0;
  padding-bottom: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #4A4A4F;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.social__tabs > li:hover {
  cursor: pointer;
}

.card {
  position: relative;
  width: 320px;
  max-height: 472px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4F;
  border: 1px solid #E1E1E6;
}
.card:hover {
  overflow-x: hidden;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.1));
}
.card:hover::-webkit-scrollbar {
  width: 2px;
}
.card:hover::-webkit-scrollbar-track {
  background-color: #E1E1E6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.card:hover::-webkit-scrollbar-thumb {
  background-color: #2244CC;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.card .gradient_block {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(21.88%, rgba(255, 255, 255, 0)), color-stop(69%, #FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 21.88%, #FFFFFF 69%);
  border-bottom: 1px solid #E1E1E6;
}
.card__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__slider_wrapper {
  position: relative;
  overflow: hidden;
}
.card__promo {
  padding: 26px 31px;
  height: 365px;
}
.card__hashtag {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.card__hashtag_link {
  display: block;
  margin-right: 6px;
  text-decoration: none;
  color: #2244CC;
}

.divider {
  margin: 0;
  margin-bottom: 32px;
  width: 100%;
  border: 1px solid #E1E1E6;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 1200px;
  }

  .card img {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }

  .social {
    padding: 16px;
  }

  .card {
    width: 320px !important;
  }

  .card img {
    width: 320px;
  }
}
@media screen and (max-width: 768px) {
  .social__tabs {
    width: 425px;
    overflow-x: scroll;
  }
  .social__tabs > li {
    line-height: 20px;
  }
}
@media screen and (max-width: 425px) {
  .social__tabs {
    width: 360px;
    height: 42px;
    left: calc(50% - 360px/2 + 8px);
    top: calc(50% - 42px/2 - 170px);
  }
  .social__tab {
    margin-right: 39px;
  }

  .card__promo {
    padding-top: 22px;
  }

  .swiper span.material-symbols-outlined {
    display: none;
  }

  .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 32px !important;
    width: 96px;
  }
}
@media screen and (max-width: 320px) {
  .social__descr {
    width: 344px;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 287px;
  }
}
