body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1372px;
  height: 818px;
}

.social {
  padding-top: 56px;
  padding-bottom: 80px;
}
.social__header {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #19191E;
  margin-bottom: 16px;
}
.social__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4F;
  margin-bottom: 32px;
}
.social__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 482px;
}
.social__tabs > li {
  padding-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #4A4A4F;
}
.social__tab_active {
  border-bottom: 2px solid #2244CC;
}

.divider {
  margin-top: 0;
  width: 100%;
  border: 1px solid #E1E1E6;
}

.card {
  width: 320px;
  max-height: 472px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4A4A4F;
}
.card__slider {
  margin-top: 32px;
}
.card__promo {
  padding: 26px 32px;
  padding-right: 48px;
  min-height: 548px;
}
.card__hashtag {
  margin-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.card__hashtag_link {
  display: block;
  margin-right: 6px;
  text-decoration: none;
  color: #2244CC;
}
