body {
	font-family: 'Roboto', sans-serif;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 300,
		'GRAD' 0,
		'opsz' 20;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}

.swiper-pagination {
	display: flex;
	justify-content: center;

	&-bullet {
		width: 16px;
		height: 4px;
		background-color: #191928;
		opacity: 0.5;
		border-radius: 0%;

		&-active {
			width: 24px;
			background-color: #2244CC;
			opacity: 1;
		}
	}
}

.swiper span.material-symbols-outlined {
	display: flex;
	margin-top: 0;
	top: 178px;
	right: -22px;
	width: 44px;
	height: 44px;
	color: #353545;
	background-color: #FFFFFF;
}

.container {
	margin: 0 auto;
	width: 1328px;
}

.social {
	padding-top: 56px;
	padding-bottom: 80px;
	height: 818px;

	&__header {
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		color: #19191E;
		margin-bottom: 16px;
	}

	&__descr {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #4A4A4F;
		margin-bottom: 32px;
	}

	&__tabs {
		display: flex;
		justify-content: space-between;
		width: 482px;

		&>li {
			padding-bottom: 14px;
			font-weight: 700;
			font-size: 18px;
			line-height: 26px;
			color: #4A4A4F;

			&:hover {
				cursor: pointer;
			}
		}

	}

	&__tab_active {
		border-bottom: 2px solid #2244CC;
		;
	}
}

.divider {
	margin: 0;
	margin-bottom: 32px;
	width: 100%;
	border: 1px solid #E1E1E6;
}

.card {
	width: 320px;
	max-height: 472px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #4A4A4F;

	&__slider {
		display: flex;

		&_wrapper {
			position: relative;
			overflow: hidden;
		}
	}

	&__promo {
		padding: 26px 31px;
		height: 365px;
	}

	&__hashtag {
		margin-top: 26px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		&_link {
			display: block;
			margin-right: 6px;
			text-decoration: none;
			color: #2244CC;
		}
	}
}


@media screen and (max-width: 1500px) {
	.container {
		width: 1200px;
	}

	.card img {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

@media screen and (max-width: 960px) {
	.container {
		width: 100%;
	}

	.social {
		padding: 16px;
	}

	.card img {
		width: 320px;
	}
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {
	.social {
		&__tabs {
			width: 360px;
			height: 42px;
			left: calc(50% - 360px/2 + 8px);
			top: calc(50% - 42px/2 - 170px);
			overflow-x: scroll;
		}

		&__tab {
			margin-right: 39px;
		}
	}

	.card {
		&__promo {
			padding-top: 22px;
		}
	}

	.swiper span {
		display: none;
	}

	.swiper-pagination {
		display: block;
	}
}

@media screen and (max-width: 320px) {
	.social {
		&__descr {
			width: 344px;
		}
	}
}