body {
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 auto;
	width: 1328px;
}

@import 'components/swiper';
@import 'components/social';
@import 'components/card';

.divider {
	margin: 0;
	margin-bottom: 32px;
	width: 100%;
	border: 1px solid #E1E1E6;
}




@media screen and (max-width: 1500px) {
	.container {
		width: 1200px;
	}

	.card img {
		width: 100%;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

@media screen and (max-width: 960px) {
	.container {
		width: 100%;
	}

	.social {
		padding: 16px;
	}

	.card {
		width: 320px !important;
	}

	.card img {
		width: 320px;
	}
}

@media screen and (max-width: 768px) {
	.social {
		&__tabs {
			width: 425px;
			overflow-x: scroll;

			&>li {
				line-height: 20px;
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.social {
		&__tabs {
			width: 360px;
			height: 42px;
			left: calc(50% - 360px/2 + 8px);
			top: calc(50% - 42px/2 - 170px);
		}

		&__tab {
			margin-right: 39px;
		}
	}

	.card {
		&__promo {
			padding-top: 22px;
		}
	}

	.swiper span.material-symbols-outlined {
		display: none;
	}

	.swiper-pagination {
		display: flex;
		position: relative;
		margin-top: 32px !important;
		width: 96px;
	}
}

@media screen and (max-width: 320px) {
	.social {
		&__descr {
			width: 344px;
		}
	}

	.card {
		width: 100%;
	}

	.card img {
		width: 287px;
	}

}