body {
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 0 auto;
	width: 1372px;
	height: 818px;
}

.social {
	padding-top: 56px;
	padding-bottom: 80px;

	&__header {
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		color: #19191E;
		margin-bottom: 16px;
	}

	&__descr {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: #4A4A4F;
		margin-bottom: 32px;
	}

	&__tabs {
		display: flex;
		justify-content: space-between;
		width: 482px;

		&>li {
			padding-bottom: 14px;
			font-weight: 700;
			font-size: 18px;
			line-height: 26px;
			color: #4A4A4F;
		}

	}

	&__tab_active {
		border-bottom: 2px solid #2244CC;
		;
	}
}

.divider {
	margin-top: 0;
	width: 100%;
	border: 1px solid #E1E1E6;
}

.card {
	width: 320px;
	max-height: 472px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #4A4A4F;
	overflow: hidden;
	&:hover {
		overflow: auto;
		overflow-x: hidden;
	}

	&__slider {
		margin-top: 32px;
	}
	&__promo {
		padding: 26px 31px;
		height: 365px;
	}
	&__hashtag {
		margin-top: 26px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		&_link {
			display: block;
			margin-right: 6px;
			text-decoration: none;
			color: #2244CC;
		}
	}
}